body { 
    background-color:#9ec7eb;
    font-family: 'Great Vibes';
}
p {
    font-family: 'Great Vibes ';
}
 h1{ 
     background-color :lightblue;
}
img {
    padding: 10px;
}
img{
    padding: 10px;
}